{% extends 'base.html' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Welcome to Our Home Page!</h1>
        
        <section class="intro mt-4">
            <p class="lead text-center">We’re excited to have you here. Explore our latest features and updates below.</p>
        </section>
        
        <section class="gallery mt-5">
            <h2 class="text-center">Our Latest Photos</h2>
            <div class="row mt-4">
                <div class="col-md-4 mb-4">
                    <img src="https://picsum.photos/500/300?random=1" class="img-fluid rounded" alt="Description of photo 1">
                </div>
                <div class="col-md-4 mb-4">
                    <img src="https://picsum.photos/500/300?random=2" class="img-fluid rounded" alt="Description of photo 2">
                </div>
                <div class="col-md-4 mb-4">
                    <img src="https://picsum.photos/500/300?random=3" class="img-fluid rounded" alt="Description of photo 3">
                </div>
            </div>
        </section>
    </div>
{% endblock %}
